@font-face {
  font-family: "UnisonProBold";
  src: url(/Fonts/Type\ Juice\ -\ Unison\ Pro\ Bold.otf);
}
@font-face {
  font-family: "protest";
  src: url(/Fonts/protest.ttf);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Courier New", Courier, monospace;
  background-image: url(../Imagenes/fondo-baseball.jpg);
  background-size: auto;
  background-repeat: repeat;
  height: 100vh;
}
.tarjeta {
  background-color: #f90f14;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  position: relative;
  height: 670px;
  width: 370px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  box-shadow: 2px 2px 30px 4px black;
  margin: 0;

  .tarjeta-estadio {
    display: flex;
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .bateador {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: #e9eaec;

    img {
      position: absolute;
      border-radius: 3.2px 3.2px 0 0;
      width: 93%;
      height: 450px;
      top: -150px;
    }
  }
  .PSA-rojo {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 100%;
    background-color: #f90f14;
    font-size: 20px;
    font-family: "UnisonProBold";
    color: #e6e3e6;
    letter-spacing: 4px;

    h4 {
      gap: 10px;
      overflow: hidden;
      display: flex;
      margin: 4px 10px;
      position: relative;
      justify-content: center;
      align-items: center;
    }
  }
  .tarjeta-allinformation {
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 1.42px;
    font-family: "protest";
    bottom: 5px;
    overflow: hidden;
    box-sizing: border-box;
    border: 6px solid #f90f14;
    background-color: #e9eaec;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 140px;

    .tarjeta-footer-information-1 {
      display: flex;
      height: 50%;
      width: calc(100% - 5px);
      text-align: start;
      justify-content: start;

      .mike_name {
        margin-top: 10px;
        margin-left: 12px;
        justify-content: start;
        align-items: start;
        display: flex;
        flex-direction: row;
        width: 55%;
        height: 70%;
      }
      .mikee_codigo {
        margin-bottom: 0;
        text-align: end;
        margin-top: 10px;
        justify-content: end;
        align-items: start;
        display: flex;
        flex-direction: row;
        width: 40%;
        height: 70%;
      }
    }

    .tarjeta-footer-information-2 {
      margin-bottom: 8px;
      display: flex;
      flex-direction: row;
      position: relative;
      width: calc(100% - 5px);
      height: 100%;

      .codigobarra {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;

        img {
          padding: 5px;
          width: 90px;
          height: 25px;
        }
      }

      .psalogo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        img {
          margin-left: 25px;
          padding: 10px;
          width: 60px;
          height: 20px;
        }
      }

      .codigomike {
        flex-grow: 1;
        margin-top: 6px;
        margin-right: 8px;

        h3 {
          text-align: end;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .contenedor {
    background-color: #f90f14;
  }

  .tarjeta {
    height: 670px;
    width: 320px;
    overflow: hidden;

    .tarjeta-allinformation {
      flex-grow: 1;
      border: 3px solid #f90f14;
    }
  }
}
